<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <p>Ember + Ash is a small press publisher for the role-playing community. It is run the rpg community's most adorable* power** couple, Natalie Ash and Madeleine Ember. We love a wide variety of games and playstyles, but we will be featuring a system-agnostic setting of "Richter", a terror-filled city inspired by places like Dunwall, Yarnham, and Venice. It will also include incursions for both Trophy Dark and Trophy Gold, and a secondary PbtA style game in the same universe.</p>
                    <p>Follow us on twitter for publication information, or check out our storefront on Itch to purchase or download our products. If you have any feedback, send us a DM on Twitter. If we can help you publish your content, we would love to speak with you about how we can help, everything from content creation, through editing (line and developmental), layout, art direction, or doing the whole publishing thing. It's important to us to use our platform to help amplify other voices.</p>
                    {% for network in site.social %}
                    <div class="col-sm-4">
                      <div class="team-member">
                            <h4>{{ network.label }}</h4>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fab fa-{{ network.title }}"></i>
                                    </a>
                               </li>
                           </ul>
                        </div>
                    </div>
                    {% endfor %}
                    <p>* probably not</p>
                    <p>** definitely not... yet</p>
                </div>
            </div>
        </div>
    </section>
