<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <p>Ember + Ash is a small press publisher for the role-playing community. It is run by the rpg community's most adorable* power** couple, Natalie Ash and Madeleine Ember.</p>
                    <p>Follow us on <a href="https://twitter.com/byemberandash" target="_blank">Twitter (@ByEmberAndAsh)</a> for publication information or shop our storefront on <a href="https://byemberandash.itch.io" target="_blank">Itch.io</a>.</p>
                    <p>If you're interested in having your content published, or would like our help in writing, editing, layout, or illustration, let us know!</p>
                    <p>* probably not</p>
                    <p>** definitely not... yet</p>
                </div>
            </div>
        </div>
    </section>
