<!-- Team Section -->
    <section id="team" class="bg-darkest-gray text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for member in site.people %}
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <ul class="list-unstyled social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fab fa-{{ network.title }} text-primary"></i>
                                </a>
                            </li>
                            {% endfor %}
                            <li>
                                <p>{{ member.description }}</p>
                            </li>

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
